$breakpoints:(
    se: 320px,
    sp: 480px,
    pc: 1000px
);

@mixin mq($range, $breakpoint) {
    @media (#{$range}-width:#{map-get($breakpoints,$breakpoint)}) {
        @content;
    }
}

body,
header,main,section,
div,section,
h1,h2,p,input,button,
dl,dt,dd {
    box-sizing: border-box;
    padding: 0;
    outline: 0;
    border: 0;
    margin: 0;
    color: #333;
    font-size: 12px;
    cursor: default;
}

html,body,#wrap {
    height: 100%;
}




main {
    margin: 0 auto;
    // height: 1000px;
}


#control {
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0px;
    margin-top: 40px;
    margin-left: 50px;
    @include mq(max,sp) {
        width: 85%;
        margin: 0 auto;
    }
}

#nyuryoku {
    width: 400px;
    border-bottom: solid 3px #3cc;
    animation-name: inputarea;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.265, 0.260, 0.995, -0.385);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    @include mq(max,sp) {
        width: 100%;
    }
}

@keyframes inputarea {
    0% {
        width: 10px;
    }
    100% {
        width: 100%;
    }
}

#input {
    height: 40px;
    font-size: 40px;
    margin-bottom: 5px;
    @include mq(max,sp) {
        width: 100%;
    }
}

#result {
    margin-top: 40px;
}

.tango {
    display: block;
    text-decoration: none;
    width: 400px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 1px #f9f;
    border-radius: 5px;
    padding: 5px;
    @include mq(max,sp) {
        width: 80%;
        margin: 0 auto;
    }
}

h2 {
    font-size: 25px;
    background-color: #ff6;
    border-radius: 5px 5px 0px 0px;
}

.eigo {
    font-size: 25px;
    background-color: #ff6;
    border-radius: 0px 0px 5px 5px;
}

.kwsk {
    margin-top: 15px;
    font-size: 18px;
}

.mnim,.tigg {
    dt,dd {
        display: inline-block;
    }
}

#iconwrap {
    margin-left: 50px;
    div {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 5px;
    }
}

.colorchip {
    &-333 {
        background-color: #333;
    }
    &-3cc {
        background-color: #3cc;
    }
    &-f9f {
        background-color: #f9f;
    }
    &-ff6 {
        background-color: #ff6;
    }
}